*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

/* #section1{
    width: 100vw;
    height: 100vh;
    background-image: url(/images2/mobile.jpg);
} */

@media only screen and (max-width:430px){
#section1{
    width: 100vw;
    height: 100vh;
    background-image: url(/images2/mobile.jpg);
}
}

@media only screen and (min-width:431px)and(max-width:768px){
    #section1{
        width: 100vw;
        height: 100vh;
        background-image: url(/images2/tab.jpg);
    }
    }
    
    @media only screen and(min-width:761px)and(max-width:1080px){
        #section1{
            width: 100vw;
            height: 100vh;
            background-image: url(/images2/fhd.jpg);
        }
        }

        @media only screen and(min-width:1081px)and(max-width:1280px){
            #section1{
                width: 100vw;
                height: 100vh;
                background-image: url(/images2/2k.jpg);
            }
            }

            @media only screen and(min-width:1281px)and(max-width:1536px){
                #section1{
                    width: 100vw;
                    height: 100vh;
                    background-image: url(/images2/4k.jpg);
                }
                }